.one-setting-container {
	background-color: rgb(209, 71, 94);
	height: 130px;
	border-radius: var(--global-border-radius);
	box-shadow: 0 2px 5px grey;
	padding: 15px;
	box-sizing: border-box;
	justify-content: center;
}

.description {
	color: rgb(66, 241, 83);
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

label {
	background-color: rgb(240, 225, 58);
	margin: 10px 10px;
	font-size: 1.5rem;
	padding: 3px 2px;
	box-sizing: content-box;
	width: max-content;
	color: rgb(19, 28, 156);
	height: 20px;
}

.check-box {
	appearance: none;
}

.custom-input {
	background-color: rgb(237, 224, 230);
	accent-color: green;
	border: 2px solid rgb(105, 41, 174);
	height: 20px;
	min-width: 80px;
	max-width: 100px;
	font-size: 1.5rem;
	padding: 3px 2px;
	box-sizing: content-box;
	margin: 5px 0;
}

button {
	font-family: var(--global-font-family);
	border-radius: var(--global-border-radius);
	width: fit-content;
	height: 30px;
	margin-top: 10px;
	background-color: rgb(169, 229, 209);
}

button:disabled {
	color: rgb(19, 28, 156);
	background-color: rgb(203, 180, 135);
	border: 0;
}

button:hover {
	cursor: grab;
	background-color: aqua;
}
