#submit-panel {
	background: pink;
	width: 800px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	gap: 20px;
}

#submit-instruction {
	/* background: green; */
	margin: 0;
	width: max-content;
	padding: 5px 10px;
}

#btn-submit {
	margin: 0;
	font-size: 1.5rem;
	width: max-content;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
