#submit-panel {
	background: url("/public/submit-panel-background.png");
	width: 800px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	gap: 10px;
	border-radius: var(--global-border-radius);
	box-shadow: var(--global-box-shadow);
}

#submit-instruction {
	/* background: green; */
	margin: 0;
	width: max-content;
	padding: 5px 10px;
	color: rgb(72, 223, 67);
	text-shadow: 1px 2px 5px rgb(131, 78, 206);
	font-size: 2.5rem;
}

#btn-submit {
	margin: 0;
	font-size: 1.5rem;
	width: max-content;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	color: rgb(131, 78, 206);
}
