:root {
	--global-box-shadow: 0 5px 5px rgb(178, 200, 230);
	--global-text-shadow: 2px 3px 4px rgb(160, 222, 59);
	--global-border-radius: 15px;
	--global-font-family: "ZCOOL KuaiLe", sans-serif;

	---header-box-shadow: 0 5px 5px rgb(178, 200, 230);
	---header-font-family: "Henny Penny", system-ui;
	---header-font-size: 20px;
	---header-font-weight: 500;
	---header-font-color: rgb(221, 64, 161);
	---header-text-shadow: 2px 3px 4px rgb(160, 222, 59);
}

#root {
	max-width: 1280px;
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 2rem; */
	text-align: center;
	font-family: "ZCOOL Kuaile", cursive;
	font-weight: 400;
}

.shadows-into-light-regular {
	font-family: "Shadow Into Light", cursive;
	font-weight: 400;
	font-style: normal;
}

.henny-penny-regular {
	font-family: "Henny Penny", system-ui;
	font-weight: 400;
	font-style: normal;
}

.zcool-kuaile-regular {
	font-family: "ZCOOL KuaiLe", sans-serif;
	font-weight: 400;
	font-style: normal;
}
