:root {
	---header-box-shadow: 0 5px 5px rgb(178, 200, 230);
	---header-font-family: "Henny Penny", system-ui;
	---header-font-size: 20px;
	---header-font-weight: 500;
	---header-font-color: rgb(221, 64, 161);
	---header-text-shadow: 2px 3px 4px rgb(160, 222, 59);

	---submit-panel-bg: pink;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 2rem; */
	text-align: center;
	font-family: "Shadows Into Light", cursive;
	font-weight: 400;
}

.shadows-into-light-regular {
	font-family: "Shadows Into Light", cursive;
	font-weight: 400;
	font-style: normal;
}

.henny-penny-regular {
	font-family: "Henny Penny", system-ui;
	font-weight: 400;
	font-style: normal;
}

header {
	margin: 0;
	padding: 0 28px;
	background-image: url(./assets/header-bg.png);
	background-size: cover;
	background-position: center;

	width: 800px;
	height: 100px;
	box-shadow: var(---header-box-shadow);
	border-radius: 15px;

	box-sizing: border-box;

	font-family: var(---header-font-family);
	font-size: var(---header-font-size);
	font-weight: var(---header-font-weight);
	color: var(---header-font-color);
	text-shadow: var(---header-text-shadow);

	text-align: left;
	align-content: center;
}

#submit-panel {
	background: var(---submit-panel-bg);
}

#submit-panel h1 {
	font-family: "Henny Penny", system-ui;
	font-size: 40px;
}
